.container {
  text-align: center;
  font-family: "Lobster", cursive;
  background: rgb(249, 251, 252);
  color: #ab5300;
  max-width: 700px;
  margin: 0, auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
h1,
h2 {
  padding-top: 10px;
  padding-bottom: 30px;
}
h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: capitalize;
}
h2 {
  font-size: x-large;
  padding-right: 390px;
  text-transform: capitalize;
}
input {
  padding: 10px;
  width: 350px;
  border-color: #ff7c00;
}
.searchButton,
.currentWeatherButton {
  padding: 7px;
  width: 100px;
  border-radius: 20px;
  font-size: 20px;
  color: #ab5300;
  background-color: #ffa34d;
  border-color: #ff7c00;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.searchButton:hover {
  background-color: #ab5300;
  color: #ffa34d;
}
.currentWeatherButton:hover {
  background-color: #ab5300;
  color: #ffa34d;
}

.current-temperature {
  font-size: 60px;
}

.units {
  position: relative;
  font-size: 30px;
  top: -22px;
}
.farenheit {
  text-decoration: none;
  color: #ab5300;
}

.temperature-info {
  position: relative;
  padding-top: 40px;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 20px;
  text-transform: capitalize;
}
.description {
  position: relative;
  padding-right: 500px;
}

.five-day-forecast {
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.five-day-forecast img {
  width: 50px;
}
footer,
.source-link {
  font-family: "Lobster", cursive;
  color: #ab5300;
  padding-top: 10px;
  text-align: center;
}
