.container {
  text-align: center;
  font-family: "Acme", sans-serif;
  background: rgb(255, 255, 255);
  color: #111;
  max-width: 700px;
  margin: 0, auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: url("../Images/sky.jpg");
  background-size: 700px 600px;
}
h1,
h2 {
  padding-bottom: 30px;
}

h1 {
  padding-top: 10px;
  font-weight: 600;
  font-size: 40px;
  text-transform: capitalize;
}
h2 {
  font-size: 20px;
  padding-right: 290px;
  padding-top: 20px;
}
h2::first-letter {
  text-transform: capitalize;
}
input {
  padding: 10px;
  width: 350px;
  border-color: #a9a4bb;
}
.searchButton,
.currentWeatherButton {
  padding: 7px;
  width: 100px;
  border-radius: 20px;
  font-size: 20px;
  color: #111;
  background-color: #ee694c;
  border-color: #a9a4bb;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.searchButton:hover {
  background-color: #111;
  color: #ee694c;
}
.currentWeatherButton:hover {
  background-color: #111;
  color: #ee694c;
}

.current-temperature {
  font-size: 60px;
}

.units {
  position: relative;
  font-size: 30px;
  top: -22px;
}
.fahrenheit,
.celsius {
  text-decoration: none;
  color: #111;
}

.currentWeatherIcon {
  position: relative;
  top: -22px;
}

.temperature-info {
  position: relative;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-transform: capitalize;
}

.five-day-forecast {
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.five-day-forecast img {
  width: 50px;
}
footer,
.source-link {
  font-family: "Acme", sans-serif;
  color: #111;
  padding-top: 10px;
  text-align: center;
}
